 body {
     background-color: #efefef;
     position: relative;
     font-family: 'Overpass Mono', monospace;

 }

 /* banneri */

 .jumbotron {
     background-color: #efefef;
     margin-top: 40px;
     padding-bottom: 70px;
 }

 /* scroll spyn väri */

 .nav-link.active {
     color: #0c5151 !important;
 }

 h1 {
     color: black;
     font-family: 'Monoton', cursive;
     text-align: center;
     font-size: 70px;

 }

 a {
     font-size: 20px;
     color: black;
     
 }

a:hover{
    color: #ab6aad;
    
}

 /* navipalkin väri */

 .navbar-custom {
     background-color: #efefef;;
 }

 /* brandin ja tekstin väri */

 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
     color: black;
     font-family: 'Share Tech Mono', monospace;
     margin-left: 30px;


 }

 /* linkin väri */

 .navbar-custom .navbar-nav .nav-link {

     font-family: 'Share Tech Mono', monospace;
     color: black;
     margin-left: 30px;

 }

 /* aktiivisen & hover-linkin väri */

 .navbar-custom .nav-item.active .nav-link,
 .navbar-custom .nav-item:hover .nav-link {
     color: #ab6aad;


 }



 .navbar-custom .custom-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(23, 83, 56)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }


 #ekalaatikko {
     margin-top: 70px;
 }


 /*kortit*/

#tokalaatikko {
     margin-bottom: 70px;
     margin-top: 70px;
 
 }





 #quotet  {
     padding-top: 70px;

  
 }

#yhteystiedot {

     padding-top: 70px;
    padding-bottom: 70px;

}





 @media (max-width: 600px) {
     .card-img-top {
         width: 100%;
         /* Set width to 100% */
         
     }

      #minusta {
     margin-left: 7rem;
 }
 }
